<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Záznam (výdavok) na úpravu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="mt-2 ml-2">
    <h1>Záznam (výdavok) na úpravu</h1>
    <form action="#" th:action="@{/ulozZaznam}" th:object="${vydavokObjektThymeleaf}" method="POST">
        <div class="form-group">
            <div class="form-group row">
                <div class="col-sm-1">
                    <input th:field="*{id}" type="hidden">
                </div>
            </div>
            <div class="form-group row">
                <label for="popis" class="col-sm-1 control-label">Popis</label>
                <div class="col-sm-1">
                    <input id="popis" th:field="*{popis}" type="text" class="form-control" size="10">
                </div>
            </div>
            <div class="form-group row">
                <label for="cena" class="col-sm-1 control-label">Cena</label>
                <div class="col-sm-1">
                    <input id="cena" th:field="*{cena}" type="number" class="form-control"  size="3">
                </div>
            </div>
            <div class="form-group row">
                <label for="kategoria" class="col-sm-1 control-label">Kategória</label>
                <div class="col-sm-1">
                    <input id="kategoria" th:field="*{kategoria}" type="text" class="form-control"  size="10">
                </div>
            </div>
            <div class="form-group row">
                <label for="datum" class="col-sm-1 control-label">Dátum</label>
                <div class="col-sm-2">
                    <input id="datum" th:field="*{datum}" type="date" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-offset-1 col-sm-10">
                    <button type="submit" class="btn btn-primary">Aktualizuj záznam</button>
                </div>
            </div>
    </form>
    <a href="/">Prejdi na hlavnú stránku</a>
</body>
</html>
