<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Vitajte na mojej webaplikácii!</h1>

    <table> <!-- Poznamka v HTML - vytvorili sme tabulku -->
        <th>
            <tr>
                <th>Popis výdavku</th>
                <th>Cena výdavku</th>
                <th>Kategória</th>
                <th>Dátum</th>
            </tr>
        </th>
    </table>




    <a href="/zobrazVsetkyZaznamy">Zobraz všetky záznamy</a>
</body>
</html>