<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vitajte na mojej webaplikácii | Výdavky v1.0</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="mt-2 ml-2">
    <h1>Vitajte na mojej webaplikácii | Výdavky v1.0</h1>
    <a href="/pridajNovyZaznam">Pridaj nový záznam</a>
    <br> <!-- novy riadok -->
    <a href="/zobrazVsetkyZaznamy">Zobraz všetky záznamy</a>
</body>
</html>