<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Vitajte na mojej webaplikácii!</h1>

<table> <!-- Poznamka v HTML - vytvorili sme tabulku -->
    <thead> <!-- Hlavicka tabulky -->
    <tr> <!-- vytvorili sme riadok, ZACIATOK riadka -->
        <th>Popis výdavku</th> <!-- th reprezentuje bunku daneho riadka -->
        <th>Cena výdavku</th> <!-- th reprezentuje bunku daneho riadka -->
        <th>Kategória</th> <!-- th reprezentuje bunku daneho riadka -->
        <th>Dátum</th> <!-- th reprezentuje bunku daneho riadka -->
    </tr> <!-- vytvorili sme riadok, KONIEC riadka -->
    </thead> <!-- Koniec hlavicky tabulky -->
    <tbody>
    <tr th:each="vydavokObjekt:${vydavkyZoznam}"> <!-- foreach podobne ako v Jave, ale tu prostrednictvom thymeleaf -->
        <td th:text="${vydavokObjekt.popis}"></td> <!-- popis je ten isty popis, ktory najdeme ako premennu (field) v triede, kt. reprezentuje model -->
        <td th:text="${vydavokObjekt.cena}"></td> <!-- rovnako aj pre cena -->
        <td th:text="${vydavokObjekt.kategoria}"></td> <!-- rovnako aj pre kategoria -->
        <td th:text="${vydavokObjekt.datum}"></td> <!-- rovnako aj pre datum -->
    </tr>
    </tbody>
</table>
<a href="/">Prejdi na hlavnú stránku</a>
</body>
</html>