<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zoznam výdavkov<</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="mt-2 ml-2">
<h1>Zoznam výdavkov</h1>

<table class="table"> <!-- Poznamka v HTML - vytvorili sme tabulku -->
    <thead> <!-- Hlavicka tabulky -->
    <tr> <!-- vytvorili sme riadok, ZACIATOK riadka -->
        <th>Popis výdavku</th> <!-- th reprezentuje bunku daneho riadka -->
        <th>Cena výdavku</th> <!-- th reprezentuje bunku daneho riadka -->
        <th>Kategória</th> <!-- th reprezentuje bunku daneho riadka -->
        <th>Dátum</th> <!-- th reprezentuje bunku daneho riadka -->
        <th>Akcie</th>
    </tr> <!-- vytvorili sme riadok, KONIEC riadka -->
    </thead> <!-- Koniec hlavicky tabulky -->
    <tbody>
    <tr th:each="vydavokObjekt:${vydavkyZoznam}"> <!-- foreach podobne ako v Jave, ale tu prostrednictvom thymeleaf -->
        <td th:text="${vydavokObjekt.popis}"></td> <!-- popis je ten isty popis, ktory najdeme ako premennu (field) v triede, kt. reprezentuje model -->
        <td th:text="${vydavokObjekt.cena}"></td> <!-- rovnako aj pre cena -->
        <td th:text="${vydavokObjekt.kategoria}"></td> <!-- rovnako aj pre kategoria -->
        <td th:text="${vydavokObjekt.datum}"></td> <!-- rovnako aj pre datum -->
        <td>
            <a th:href="@{/zobrazFormularNaAktualizaciu/{id}(id=${vydavokObjekt.id})}">Uprav záznam</a>
            <a th:href="@{/vymazZaznam/{id}(id=${vydavokObjekt.id})}">Vymaž záznam</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/">Prejdi na hlavnú stránku</a>
</body>
</html>
